 /* Définition de constantes */
 :root {
     --gap: 10px;
     --border-radius: 10px;
     --scroolbar-with: 10px;
 }

 /* Remettre à zéro les marges de tous éléments pour contrecarrer les valeurs par défaut prédéfinies du fureteur */
 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 /* Classe pour la mise en page utilisant les "flexbox" */
 .page {
     /* disposition verticale des sections header, main et footer */
     display: flex;
     flex-direction: column;
     height: 100vh;
     /* 100% de la hauteur du viewport pour assurer la réactivité verticale */
     gap: var(--gap);
     padding: var(--gap);

     .favicon {
         height: 32px;
         width: 32px;
         border-radius: 20px;
     }

     .header,
     .footer {
         font-size: 1.5em;
         font-weight: bolder;
         display: flex;
         gap: 8px;
         align-items: center;
         color: #de6596;

         .menu {
             /* disposition horizontale des items de menu */
             display: flex;
             gap: 12px;
             flex-wrap: wrap;
             justify-content: left;
         }

         .menuItem {
             flex-grow: 1;
             /* taille adaptative */
             font-size: 0.60em;
             font-weight: bold;
             text-decoration: 1px underline wavy rgb(81, 7, 30);
             color: rgb(81, 7, 30);
             border: none
         }

         .selectedMenuItem {
             text-decoration: 2px overline rgb(241, 63, 158);
         }
     }

     .main {
         flex: 1;
         /* permettre de le formatage flex du parent */
         min-height: 10vh;
         /* hauteur minimum relative à la hauteur du viewport*/

         /* contrecarrer les styles de la classe page */
         border: none;
         padding: 0px;
         background: rgb(229, 164, 164);

         /* Alignement horizontal des éléments enfants */
         display: flex;
         flex-direction: row;
         gap: var(--gap);

         .scrollSection {
             overflow-y: auto;
         }

         .content {
             flex-grow: 1;

             .bigImage {
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;
                 aspect-ratio: 16/9;
                 border: 3px solid rgb(236, 131, 149);
             }
         }

         .justifiedText {
             text-align: justify;
             margin-top: var(--gap);
         }

         .ellipsis {
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
         }


         .left_Aside {
             flex: 1;
             min-width: 150px;
             max-width: 250px;
         }

         .right_Aside {
             flex: 1;
             min-width: 70px;
             max-width: 120px;
         }

     }

     .main>* {
         background: rgb(242, 238, 238);
         padding: var(--gap);
         border: 1px solid rgb(254, 154, 154);
     }
 }

 .video {
     margin-right: 500px;
     margin-bottom: 500px;
 }


 .page>* {
     /* cibler tout les enfants enfant de l'éléments de classe page */
     background: rgb(227, 220, 223);
     padding: var(--gap);
     border: 1px solid rgb(239, 128, 128);
 }


 /* disposer une liste d'icone font-awsome vertivalement */
 .iconList {
     display: flex;
     flex-direction: column;
     text-align: center;
     gap: var(--gap);
 }

 /* style pour formater les icones de classe font-awsome */
 .fa-icon {
     flex: 1;
     font-size: 2em;
     color: rgb(224, 116, 159);
     cursor: pointer;
 }

 /* Changer la couleur de l'élément survolé de classe fa-icon */
 .fa-icon:hover {
     color: rgb(219, 130, 246);
 }


 /*** classes pour l'apparence de la barre de défilement ***/
 ::-webkit-scrollbar {
     border-radius: var(--border-radius);
     width: var(--scroolbar-with);
 }

 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     border-radius: var(--border-radius);
 }

 ::-webkit-scrollbar-thumb {
     border-radius: var(--border-radius);
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
 }

 .momo-trust-display-regular {
     font-family: 'Lobster', cursive;
     font-weight: 400;
     font-style: normal;
     font-size: 1.8em;
 }

 .author {
     width: 30%;
     min-width: 300px;
     margin-right: auto;
     margin-top: 50px;
     font-size: 1.7em;

     ul {
         list-style-type: circle;
     }
 }

 .histoire {
     font-family: 'Lobster', cursive;
     font-size: 30px;
     color: #e27db3;
     text-align: center;

 }

 .pink {
     color: #e84787;
 }

 .avion-image {
     width: 300px;
     min-height: 100%;
     border-radius: 2px;
     text-align: left;

 }

 .image-side {
     flex: 1;
     max-height: 100%;
 }

 table {

     width: 50%;
     height: 99%;

 }

 th {
     background-color: #e3aaaa;

 }

 th,
 td {
     border: 1px solid pink;
     text-align: left;
     padding: 10px;

 }

 .aeronefs {
     text-align: center;
     font-size: 20px;
     color: #ff0569;
     height: 70px;
     width: 600px;

 }

 iframe {
     margin: 40px auto;
     border: 4px solid #e886bf;
     border-radius: 10px;


 }

 .intro {

     font-size: 18px;
     margin: 40px auto;
     width: 80%;
     color: #7f0c64;

 }

 .pi {
     text-align: center;

     font-size: 18px;
     color: rgb(255, 102, 102);
 }

 .fact-box {
     background-color: #ffffff;
     border-left: 6px solid #38051f;
     padding: 15px;
     margin-bottom: 15px;
 }

 .Image {
     background-size: cover;
     aspect-ratio: 10/3;
     border: 3px solid rgb(236, 131, 149);
 }

 .pfp {

     width: 200px;
     border-radius: 50%;
     border: 6px solid rgb(225, 146, 201);

 }

 .photo {
     float: right;
     width: 500px;
     text-align: center;
     margin-left: auto;
     margin-top: 50px;


 }

 .comp {
     display: inline-block;
     color: #750046;
     font-size: 18px;
     font-weight: bold;
     padding: 8px 70px;
     text-decoration: double underline;

 }

 .texte {
     font-size: 16px;
     font-family: serif;

 }

 .under {
     text-decoration: double underline;
 }

 hr {

     border: 4px solid #ec79c9;
 }

 li {
     font-size: 18px;
 }

 a {
     color: rgb(242, 1, 113);
 }

 h2 {
     font-family: cursive;
     font-size: 20px;
 }

 @media screen and (max-width: 800px) {
     body {
         background-color: rgb(215, 140, 177);
          font-family:  sans-serif;
  }
 .main { flex-direction: column; }
   .pfp
   {
  margin-left: 140px;
   }
 }

